.card {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  float: left;
  perspective: 1000px;
  cursor: pointer;
}

.content {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: 023047;
  color: #03446a;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.selected {
  background: gray;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.points {
  text-align: center;
  margin: 5% 0;
  font-size: 2rem;
  color: #d62828;
}

.win {
  width: 7rem;
  background-color: #fb5607;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  border-radius: 10px;
  height: 3rem;
  border: none;
  margin: 3% auto;
  cursor: pointer;
}
