.newExpense {
  background-color: #e9c46a;
  padding: 1rem;
  margin: 0 auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.newExpense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.newExpense button:hover,
.newExpense button:active {
  background-color: #510674;
  border-color: #510674;
}

.newExpense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.newExpense button.alternative:hover,
.newExpense button.alternative:active {
  background-color: #ddb3f8;
}
