@import "https://fonts.googleapis.com/css?family=Lily+Script+One";

.container {
  width: 100%;
  height: 100vh;
  background: #ede0d4;
  display: flex;
  justify-content: center;
  font-family: "Lily Script One";
}
