.container {
  width: 100%;
  height: 100vh;
}

.image {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
