.todo-list {
  width: 36rem;
  height: 36rem;
  border-radius: 0 0 4px 4px;
  list-style: none;
  background-color: #b7b7a4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.todo-list::-webkit-scrollbar {
  width: 10px;
}

.todo-list li div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.todo-list::-webkit-scrollbar-track {
  background-color: #edf6f9;
  border-right: 1px solid #b7b7a4;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #ffddd2;
  border-radius: 1rem;
}

.todo-list li {
  width: 100%;
  padding: 10px 2rem;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.remove {
  background-color: #eee;
  border: none;
  padding: 4px;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.remove:hover {
  background-color: #ef233c;
  cursor: pointer;
}

.toggle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.completed div label {
  text-decoration: line-through;
  color: gray;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: #ffddd2;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.filters li button {
  padding: 6px 10px;
  color: #264653;
}

.filters li button:hover {
  cursor: pointer;
}

.clear-completed {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: #e29578;
  color: #fefae0;
}

.clear-completed:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  .todo-list {
    width: 34rem;
    height: 24rem;
  }
}
