.form {
  width: 36rem;
  height: 12rem;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #264653;
  padding: 30px;
}

.add {
  width: 3rem;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  border: 1px solid gray;
}
.add:hover {
  cursor: pointer;
}
.input {
  padding: 10px;
  width: 29rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid gray;
}

.header {
  text-align: center;
  margin-top: -3rem;
  padding: 2rem 0 3rem 0;
  color: #eee;
}

@media only screen and (max-width: 1366px) {
  .form {
    height: 10rem;
  }
  .header {
    padding: 2rem 0 2rem 0;
  }
  .input {
    width: 26rem;
  }
  .form {
    width: 34rem;
  }
}
