.card {
  background-color: #ffccd5;
  padding: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}

p {
  float: left;
  padding: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
