@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap");
.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: "Kanit", sans-serif;
  background-color: #132a13;
  padding: 1% 0 1% 0;
  color: #ffe8d6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.nav,
.links {
  width: 100%;
  height: 3rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.link {
  color: #ffe8d6;
  font-size: 1rem;
}
.link:hover {
  text-decoration: underline;
}
.header {
  font-size: 2rem;
  color: #ffe8d6;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.quotes {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: #78787e;
}
