.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: #001219;
  background: #ffe8d6;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.textarea {
  min-width: 36rem;
  min-height: 36rem;
  padding: 10px;
  resize: none;
  background: #f6bd60;
}

.textarea:nth-child(1) {
  -webkit-box-shadow: -8px 10px 0px 0px rgba(88, 127, 204, 1);
  -moz-box-shadow: -8px 10px 0px 0px rgba(88, 127, 204, 1);
  box-shadow: -8px 10px 0px 0px rgba(88, 127, 204, 1);
}
.textarea:nth-child(2) {
  -webkit-box-shadow: 8px 10px 0px 0px rgba(88, 127, 204, 1);
  -moz-box-shadow: 8px 10px 0px 0px rgba(88, 127, 204, 1);
  box-shadow: 8px 10px 0px 0px rgba(88, 127, 204, 1);
}
