@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #1d3557;
  font-family: 'Montserrat', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  
}
article {
  position: relative;
  width: 24rem;
  height: 16rem;
}
article:nth-child(odd){

  transform: rotate(2deg);
}
article:nth-child(even){
  transform: rotate(-2deg);

}
article:hover {
  bottom: 10px;
  left: 10px;
}
.sides {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

iframe{
  width: 100%;
  overflow: auto;
  transform: scale(0.8);
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-color: transparent;
  font-weight: 600;
  font-size: 20px;
  color: #e63946;
  padding: 1rem;
}
